
   body{
     background-color: #d4ebd0;
        }
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 4%;
}

h1{
  color: #66bfbf;
  font-style: italic;
}
h3{
  color: #66bfbf;
}
